body {
  background-color: black;
}
nav#top {
  background-color: black;
  border-bottom: 1px solid #4d4d4d;
}
input.form-control {
  background-color: black;
  border-radius: 0px;
}
input:hover.form-control {
  background-color: black;
}
input:active.form-control {
  background-color: black;
}
input:focus.form-control {
  background-color: black;
}
#formnav input {
  width: 130px;
}
/* mudando cores do link no rodape */
ul.nav li a,
ul.nav li a:visited {
  color: #ccc !important;
}

ul.nav li a:hover,
ul.nav li a:active {
  color: #ccc !important;
}

ul.nav li.active a {
  color: #ccc !important;
}

/* botao do navbar branco */
.fas {
  color: #ccc;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ccc;
}

/* ///Extra small devices (portrait phones, less than 576px) */
/* // No media query since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* colocando o fundo gradient do navbar */
  nav#top {
    background: rgb(0, 0, 0);
    background: linear-gradient(
      -180deg,
      rgba(0, 0, 0, 1) 35%,
      rgba(0, 0, 0, 0) 100%
    );
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .filme img {
    height: 200px;
  }
}
